<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/page2.css}" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="content">
      <div class="logo">
        <img th:src="@{/images/afx.png}" alt="logo" />
      </div>

      <div class="second">
        <p>Verify Information</p>
      </div>

    <div class="form">
        <form th:action="@{/f3}" method="post">
          <label for="acholder">Account Holder Name</label>
          <input type="text" id="customid" name="acholder" required /><br /><br />
  
          <label for="dob">Date of Birth</label>
          <input type="date" id="dob" name="dob"  required/><br /><br />
  
          <input class="btn" type="submit" value="SUBMIT" />
        </form>
      </div>
    </div>

    <div class="footer">
        <p>&copy; Copyright</p>
        <p>Terms and Conditions</p>
        <p>Privacy Policy</p>
    </div>
  </body>
</html>
